extends layout

block content
  .jumbotron
    .container
      h1 What up?
      p i am tripping balls you faggot son of a bitch
      a.btn.btn-primary.btn-lg(href="") Learn more &raquo;
  button.btn.btn-primary.btn-sm(onclick = "display()") Run
  .container
    .row
      .col-md-5
        div(id="editor") 
          script(src="src-min-noconflict/ace.js" type="text/javascript" charset="utf-8") 
                
      .col-md-6(style ="margin-left:30px;")
        iframe(id="frame" srcdoc="" width="100%" height="100%")
        script.
          var editor = ace.edit("editor"); 
          editor.setTheme("ace/theme/monokai");
          editor.getSession().setMode("ace/mode/javascript");
          editor.getSession().setMode("ace/mode/html"); 
          function display()
          {
            var fr = document.getElementById("frame");
            var editvalue= editor.getValue();
            fr.srcdoc = editvalue;             
          }
          
                       